*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* .....heaeder...... */
 
header{
    height: 70px;
    background-color: #0f1111;
    color: white;
}

/* ..logo.. */
div.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 55px;
    width: 120px;

}

.logo{
    height: 55px;
    width: 100%;
    background-size: cover;
    background-image: url("amazon_logo.png");
    margin-top: 0px;
    animation: amazon 2s ease-in 1;
}

@keyframes amazon{
    from{
        width:0%;
    }
    to{
        width: 100%;
    }
}

.border{
    border: 0.5px solid transparent;
}

.border:hover{
    border: 0.5px solid white;
}

/* ..location.. */
.address{
    cursor: pointer;
    padding: 8.5px;
}

#deliver{
    font-size: 12px;
    padding-left: 20px;
    color: rgb(236, 234, 232);
    
}

.location-logo{
    display: flex;
}

#ind{
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    text-shadow: 1px 0px 1.5px white;
    
}

/* search-bar */
.search-bar{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
    border: 3px solid transparent;
}

.search-bar:active{
    border: 3px solid #febd68;
    border-radius: 6px;
}
.select{
    width: 55px;
    background-color:rgb(202, 194, 194) ;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
    
}

select:hover{
    background-color:rgb(145, 137, 137) ;
}

.input{
    width: 500px;
    border: none;
    font-size: 15px;
    
}

.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    background-color: #febd68;
    width: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-logo:hover{
    background-color: #f8a840;
}

/* language-bar */

.language{
    display: flex;
    padding: 13px 9px 13px 9px;
    cursor: pointer;
}

#lang{
    border: none;
    color: orange;
}

#language{
    border: none;
    background-color: transparent;
    color: white;
    font-weight:600 ;
    text-shadow: 1px 0px 1.5px white;

}

select>option{
    color: black;
    display: flex;
    text-align: left;
    overflow: scroll;
    background-color: white;
    
}

/* text */

.text{
    padding: 7px;
    cursor: pointer;
}
.text>p{
    font-size: 12px;
}

.text>p>span{
    font-size: 15px;
}

/* cart */

.cart{
    padding: 7px;
}

#cart{
    position: relative;
    top: 2.5px;
    font-size: 15px;
}

/* menu-bar */

.menu{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    
}

#ham{
    margin-right: 5px;
}
.menu>ul{
    display: flex;
    align-items: center;
        
}

.menu>ul>li{
    list-style-type: none;   
    margin-left: 20px;
    padding: 9.5px;
}

.menu>ul>li>a{
    text-decoration: none;  
    color: white; 
    font-size:14.5px ;
}


/* ....content....... */

.container{
  background-image:url("carousal3.jpg") ;
  background-size: cover;
  background-color: rgba(red, green, blue, 0.5);
  height: 600px;
  width:1500px ;
  margin-top: 25px;
}

/* ..boxes.. */
.boxing{
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    justify-content: space-evenly;
    
}

.box{
    height: 420px;
    width: 310px;
    border: 2px solid white;
    background-color: white ;
    padding:20px 0 15px;
    margin-bottom: 250px;
    margin-top: -200px;
   
}

.box:hover{
    transform: scale(1.1);
}

img{
    width: 250px;
    height:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.content{
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 15px;
    font-weight: 1000;

}

.content>a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
    text-shadow: 0px 0px 1px #007185 ;
    font-weight: 500;
}

.more{
    text-align: center;
}

p#rec{
    font-size: 13px;
    color: #0f1111;
    text-shadow: .2px 0.2px .4px #0f1111;
}

.more>button{
    background-color: #f8a840;
    width: 250px;
    height: 30px;
    border: 2px solid #f38b02;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #ffe093;
}

.more>p{
    font-size: 12px;
}
.more>p>a{
    text-decoration: none;
    color: #007185;
    text-shadow: .1px .1px .2px #007180;
}

/* .....footer...... */

.back{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.back:hover{
    background-color:  #3f4d5f;
}

.back>a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0.2px 0.2px 1px wheat;
}

.foot-panel{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    height: 450px;
}

.list{
    width: 20%;
    margin-right:100px;
    margin-left: 100px;
    margin-top: 100px;
}

.list>ul>li{
    list-style-type: none;
    padding-top: 10px;
    text-shadow: .2px .2px .8px rgb(230, 223, 223);
}
.list>ul>li>p{
    color: white;
    font-weight: 700;
   

}

.list>ul>li>a{
    text-decoration: none;
    color: #dddddd;
    font-size: .85rem;
}
.list>ul>li>a:hover{
    text-decoration: underline;
}

.line{
    border-top: 0.5px solid rgb(80, 76, 76);
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    
}

.languagee{
    display: flex;
    margin-left: 100px;
    background-color: transparent;
    border: 1px solid rgb(168, 160, 160);
    height: 27px;
    padding-top: 2px;
    padding-left: 1px;
    padding: 3px;
}

.lang-logo{
    color: white;
}

#lan>select{
    border:none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.euro{
    cursor: pointer;
    padding: 3px;
    margin-left: 15px;
    padding-top: 3px;
    height: 27px;
    background-color: transparent;
    border: 1px solid rgb(168, 160, 160); ;
}

.euro>p{
    color: white;
    font-size: .9rem;
}

.last-panel{
    background-color: #091822;
    height: 70px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont>p{
    margin-top: 15px;
    color: white;
    font-size: .8rem;
    margin-right: 15px;
    margin-bottom: 2px;
    
}

.last{
    display: flex;
    align-items: center;
    justify-content: center;

}

.last>p{
    margin-top: 5px;
    color: white;
    font-size: .8rem;
    margin-right: 15px;
    margin-bottom: 2px;
    
}
